<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Osmy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Osmy.Properties.Settings>
            <setting name="ChecksumVerificationInterval" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
            <setting name="VulnerabilityScanInterval" serializeAs="String">
                <value>1.00:00:00</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </Osmy.Properties.Settings>
    </userSettings>
</configuration>